<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
     
     
     <!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext
    instead of the default XmlWebApplicationContext -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <servlet>
        <servlet-name>spring-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>     
        <init-param>        
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>com.rupp.spring.config.MvcConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-dispatcher</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    
    
     
    
    <servlet>
    	<servlet-name>customerList</servlet-name>    	
    	<jsp-file>/customer_list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
    	<servlet-name>customerList</servlet-name>
    	<url-pattern>customerlist</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>CustomerForm</servlet-name>    	
    	<jsp-file>/customer_form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CustomerForm</servlet-name>
    	<url-pattern>/customerform</url-pattern>
    </servlet-mapping>
       
    <servlet>
    	<servlet-name>signIn</servlet-name>    	
    	<jsp-file>/sign_in.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
    	<servlet-name>signIn</servlet-name>
    	<url-pattern>signin</url-pattern>
    </servlet-mapping>
    
    <!-- welcome file -->
   <welcome-file-list>  
   <welcome-file>sign_in.jsp</welcome-file>  
   <welcome-file>index.html</welcome-file>  
  </welcome-file-list>
</web-app>
